.background{
    background:             url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/img.jpj/background 7.jpg')no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}
#Heading{
    color: white;
    text-align: center;
}
.biltu{
    color: yellow;
}
a{
    color: yellow;
    text-decoration: none;
    display:inline-block;
    margin: 0 10px;
    
}
#github{
    background: url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/img.jpj/githublogo.png')no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}
#enter{
    color: red;
}
p{
    text-align: center;
    color: black;
}
h4{
    color: black;
    text-align: center;
}
#logo{
    background: url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/img.jpj/Blogo.png')no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
}
#google{
    background: url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/img.jpj/google.png')no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#apple{
    background: url('file:///storage/emulated/0/Android/data/com.teejay.trebedit/files/TrebEdit user files/img.jpj/ei_1666601135478-removebg-preview.png')no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}